extends dashboard
block content
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    each contact in contacts
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">Name: #{contact.name}</h5>
                <p class="card-text">email:  #{contact.email}</p>
                <p class="card-text">message:  #{contact.message}</p>
                //- <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </main>