extends dashboard
block content
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom' >
            <div class="btn-toolbar mb-2 mb-md-0 ">
                <div class="btn-group mr-2">
                    <a class="btn btn-sm btn-outline-secondary" href='/admin/projects/add-new-project'>Add New</a>
                    <button class="btn btn-sm btn-outline-secondary">#</button>
                </div>
            </div>
        </div>
        <ul class="list-group">
        each project in projects
            <li class="list-group-item">
                a(href=`/admin/edit/${project.slug}`) #{project.name}
            </li>
            
            
        </ul>
    </main>