extends dashboard
block content
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    //- <div class='d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom' >
    //-         <div class="btn-toolbar mb-2 mb-md-0 ">
    //-             <div class="btn-group mr-2">
    //-                 <a class="btn btn-sm btn-outline-secondary" href='/admin/user/create'>New Admin</a>
                    
    //-             </div>
    //-         </div>
    //- </div>
    each user in users
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">Name: #{user.name}</h5>
                <p class="card-text">email:  #{user.email}</p>
                //- <a href="#" class="btn btn-primary">Button</a>
            </div>
        </div>
    </main>