extends dashboard
block content
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">Total Requests Made after 15 April 2020</h5>
                <p class="card-text">About #{ac}</p>
                <p class="card-text">Projects #{pc}</p>
                <p class="card-text">Resume #{rc}</p>
                <p class="card-text">Contact #{cc}</p>
            </div>
        </div>
    </main>