extends base
block content
    link(rel="stylesheet", href="/error.css")
    <div id="main">
        <div class="fof">
            <h1>Error #{statusCode} </h1>
            h3=message
        </div>
    </div>